div {
	background-color:#333333;
	color:#dddddd;
}
div#sidebar {
	height:100%;
	width:250px;
	top:0;
	left:0;
	margin:0;
	padding:5px;
	position:absolute;
	overflow-y:auto;
}
div#book {
	height:calc(100%);
	width:calc(100% - 250px);
	top:0px;
	left:250px;
	margin:0;
	padding:5px;
	position:absolute;
	overflow-y:auto;
}
h1,h2,h3,h4,h5 {
	font-size:12pt;
	font-weight:bold;
	color:azure;
}
p {
	font-size:small;
}
blockquote {
	font-size:small;
	border-left:5px solid #aaaaaa;
}
a { color:orange; }
a:hover { color:aqua; }
pre {
	background-color:#444444;
	color:#dddddd;
}
hr {
	height:2px;
	background-color:azure;
}
code {
	font-size:small;
	background-color:red;
	color:white;
}
